.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: rgb(0, 0, 0);
}
canvas{
    border: 5px solid aqua;
    border-radius: 20px;
    box-shadow: 5px 5px 5px aqua;
}